{% extends 'base.html' %} {% load static %} {% block head %}
{% comment %} <link rel="stylesheet" href="{% static 'css/home.css' %}" /> {% endcomment %}
{% endblock %} {% block content %}

<h1>Submissions</h1>
<br>
<div>
    <h2>Submission Guidelines</h2>
    <p>{% lorem 1 b random %}</p>
</div>
<br>
{% if user.is_authenticated %}
    {% if form.errors %}
        <div>
            {{ form.errors }}
        </div>
    {% endif %}

    <h2>Create Submission</h2>
    <form action="" method="post" class="form-container" autocomplete="off">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn submit">Submit</button>
    </form>
    <br>
    <h2>Your Submissions</h2>
    {% if submissions %}
        <ul>
            {% for submission in submissions %}
                <li><a href=''>{{ submission.title }}</a></li>
                Status: {{ submission.approval_status }}
            {% endfor %}
        </ul>
    {% else %}
        <p>Looks like you haven't submitted yet.</p>
    {% endif %}
{% else %}
    <a href='{% url 'register' %}'>Register to Submit</a>
    <p>or</p>
    <p>
        View your submissions by logging in...
    </p>
    <a href='{% url 'login' %}'>Log In</a>
{% endif %}

{% endblock %}
