{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/submissions.css' %}" />
{% endblock %} {% block content %}

<h1>{{ submission.title }}</h1>

<div class='submission-container'>
    <p class='delete-warning'>Are you sure you want to delete your submission, "{{ submission.title }}"?</p>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class='delete-confirmation'>
            <button type="submit" class="btn-primary btn-delete">Delete</button>
            <a href="{% url 'submission-detail' submission.id %}" class="btn-primary">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}
