{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/submissions.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
{% endblock %} {% block content %}

<h1>Submissions</h1>
<br>
<div class='submission-guidelines'>
    <h2 class='submission-heading'>Submission Guidelines</h2>
    <p>{% lorem 1 b random %}</p>
</div>
<br>
{% if user.is_authenticated %}
{% if form.errors %}
<div>
    {{ form.errors }}
</div>
{% endif %}
<div class='submission-container'>
    <h2 class='submission-heading'>Create Submission</h2>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <table>
            {{ form.media }}
            {{ form.as_p }}
        </table>
        <div class='btn-submit'>
            <button type="submit" class='btn-primary'>Submit</button>
        </div>
    </form>
</div>

{% if not is_update %}
<div class='user-submissions'>
    <h2 class='submission-heading'>Your Submissions</h2>
    {% if submissions %}
    <ul>
        {% for submission in submissions %}
        {% comment %} <a href='{% url ' submission-detail' submission.id %}'> {% endcomment %}
            <li class='submission-item'>
                <h4 class='submission-title'>{{ submission.title }}</h4>
                <div>Status: {{ submission.approval_status|capfirst }}</div>
                {% if submission.approval_status == 'accepted' %}
                <div>Published in: {{ submission.approved_issue}}</div>
                <br>
                {% endif %}
                <a href='{% url 'submission-detail' submission.id %}' class='btn-secondary'>View</a>
            </li>
            {% comment %} </a> {% endcomment %}
            {% endfor %}
    </ul>
    {% else %}
    <p>Looks like you haven't submitted yet.</p>
    {% endif %}
</div>
{% endif %}

{% else %}
<div class='login-prompt'>
    <a href='{% url 'register' %}' class='btn-primary'>Register to Submit</a>
    {% comment %} <p>or view your submissions by logging in</p> {% endcomment %}
    <a href='{% url 'login' %}' class='btn-primary'>Log In</a>
</div>
{% endif %}

{% endblock %}