{% extends 'base.html' %} {% load static %} {% block head %}
{% comment %} <link rel="stylesheet" href="{% static 'css/home.css' %}" /> {% endcomment %}
{% endblock %} {% block content %}

<h1>Register</h1>
<div class='login-container'>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class='login-prompt'>
            <button type="submit" class='btn-primary'>Register to Submit</button>
            <a href="{% url 'submissions' %}" class='btn-primary'>Return</a>
        </div>
    </form>
</div>

{% endblock %}
