{% load static %}
<header class='header-container'>
    <div>
        <a href="/">
            <img src="{% static 'images/PL-logo.png' %}" alt="The Phoebe Light Logo" class='logo-img' />
        </a>
    </div>
    <nav>
      <ul id='menu'>
        {% if user.is_authenticated %}
            <li><a href='{% url 'home' %}'>Home</a></li>
            <li><a href='{% url 'about' %}'>About</a></li>
            <li><a href='{% url 'submissions' %}'>Submissions</a></li>
            {% comment %} <li><a href=''>Profile</a></li> {% endcomment %}
            <li >
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" id='logout-btn'>Log out</button>
                </form>
            </li>
        {% else %}
            <li><a href='{% url 'home' %}'>Home</a></li>
            <li><a href='{% url 'about' %}'>About</a></li>
            <li><a href='{% url 'submissions' %}'>Submissions</a></li>
        {% endif %}
    </ul>
  </nav>
</header>