.submission-container,
.author-bio {
    width: 70%;
    margin: 0 auto;
}

.submission-container h3 {
    margin: 0;
}

.author-bio {
    padding: 10em 0 2em;
}

.author-bio p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}

.author-bio span {
    background-color: transparent !important;
}