/* Global styles */

/* 
Color guide
e6c893: og yellow
e7e5e7: grey to match logo
c5c6d4: purple
 */

body {
    font-size: 16px;
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
}

/* Fit image to entire background.  */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.4;
}

h1,
h2,
a,
label,
ul {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 3.6em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 1.8em;
    font-weight: 300;
    font-style: normal;
}

h4 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em; 
    margin: 0 0 1em 0;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
}

ul {
    padding: 0;
    list-style-type: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
    margin: 6em auto;
    max-width: 500px;
}

.btn-container a {
    display: inline-block;
    text-align: center;
}

.btn-primary,
.btn-secondary {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    color: black;
    border: .8px solid black;
    padding: .4em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6em;
    max-width: fit-content;
    border: .8px solid black;
    background-color: rgba(197, 198, 212, 0.6);
}

.btn-primary:hover,
.btn-secondary:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);     
}