.submission-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.submission-heading {
    text-align: center;
}

.submission-guidelines p {
    width: 70%;
    margin: 0 auto;
}
