{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>Phoebe Light</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        
    {% block head %}
    {% endblock %}
</head>

<body>
    <img src="{% static 'images/download1.png' %}" alt="A watercolor painting by Richard Petraschke called 'Autumn in the mountains' shows a mountain range in the lower third, largely made up of purple hues with some yellows and tans interspersed. The top two thirds of the painting show a light blue sky with light grey and purple clouds." class="background-image">

    {% include 'includes/header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}
</body>

</html>